.about-wrapper {

}

.about-content-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  padding-left: var(--page-padding-l3);
  padding-right: var(--page-padding-l3);
  padding-bottom: 5em;
}

.about-fading-text {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translate(-50%);
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

.about-hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  flex-direction: row;
}

.about-hero-wrapper img {
  object-position: center;
  object-fit: cover;
  height: 80%;
  width: 40%;
  margin-right: 3em;
  border-radius: 2em;
}

.about-my-description {
  width:40%;
}

.about-my-description h1 {
  margin-bottom: .4em;
  font-size: 2rem;
}

.about-my-description p {
  font-size: 1.5rem;
}

.about-my-interests {
  margin-top: 6em;
  text-align: center;
  padding-left: var(--deeper-page-pading);
  padding-right: var(--deeper-page-pading);
}

.about-my-interests h1 {
  margin-bottom: .3em;
}

.about-my-interests h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

.about-content-wrapper a {
  font-weight: 600;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {

  .about-content-wrapper {
    padding-left: var(--deeper-page-pading);
    padding-right: var(--deeper-page-pading);
  }
  

  .about-hero-wrapper {
    display: flex;
    flex-direction: column;
  }

  .about-hero-wrapper img {
    width: 100%;
    height: 60vh;
    margin-bottom: 1.5em;
  }
  
  .about-my-description {
    width:100%;
  }
  
  .about-my-description h1 {
    margin-bottom: .4em;
    font-size: 1.8rem;
  }
  
  .about-my-description p {
    font-size: 1.4rem;
  }

  .about-my-interests {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3em;
  }

  .about-my-interests h4 {
    font-weight: 400;
    font-size: 1.4rem;
  }
  
}

@media screen and (max-width: 570px) {

  .about-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: var(--page-pading);
    padding-right: var(--page-pading);
  }

  .about-fading-text {
    font-size: 2rem;
  }

  .about-hero-wrapper {
    margin-top: 1em;
  }

  .about-hero-wrapper img {
    width: 100%;
    height: 60vh;
    margin-right: 0;
  }

  .about-my-description h1 {
    text-align: center;
  }

  .about-my-interests h4 {
    text-align: left;
  }
}