.home-wrapper {
  padding-bottom: 2em;
}

/* .home-top-color {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  height: 105vh;
  width: 100%;
  z-index: -1;
} */

.home-hero-wrapper {
  padding-top: .5em;
  padding-left: var(--page-pading);
  padding-right: var(--page-pading);
  padding-bottom: 5em;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-hero-wrapper h2 {
  font-size: 3rem;
}

.home-name-pic-wrapper {
  margin-top: -1em;
  display: flex;
  flex-direction: column;
}

.home-hero-wrapper h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 5.3rem;
  letter-spacing: .03rem;
}

.home-first-image {
  margin-top: 2em;
  object-position: center;
  object-fit: cover;
  height: 35vh;
  width: 40vw;
}

.home-hero-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  /* margin-top: 4em; */
}

.home-hero-bottom h1 {
  text-align: right;
}

.home-hero-bottom h4 {
  font-size: 1.2rem;
  font-weight: 400;
  flex-wrap: 1;
  width: 15vw;
}

/* .home-left-wrapper {
  height: 88%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-second-image {

}

.home-left-wrapper h1 {
  text-align: right;
  justify-self: flex-end;
} */

.home-info-wrapper {
  background-color: var(--background-secondary);
  margin-left: var(--deeper-page-pading);
  margin-right: var(--deeper-page-pading);
  /* margin-bottom: 5em; */
  margin-top: 4em;
  padding-bottom: 2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
  position: relative;
  border-radius: 1em;
  transition: transform .8s ease-out;
}

.home-info-wrapper::before {
  content: "";
  border-radius: 1em;
  box-shadow: 0px 20px 11px 15px rgba(0, 0, 0, .14), rgba(0, 0, 0, 0.24) 0px 5px 8px;  
  opacity: 0;
  transition: opacity 1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-info-wrapper:hover::before {
  opacity: 1;
}

.home-info-wrapper:hover {
  transform: translateY(-5px);
}

.home-info-wrapper h1 {
  font-size: 2.4rem;
  margin-bottom: .2em;
  color: var(--text-primary);
}

.home-info-wrapper h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-primary);
}

.home-info-about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-info-about-content {
  width: 80%;
  margin-right: 1em;
}

.home-about-button-wrapper {
  height: fit-content;
  width: fit-content;
}

.home-about-button {
  margin-top: 1.5em !important;
  color: white !important;
  background-color: #8C8C8C !important;
  text-transform: none !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
  font-size: 1rem !important;
}

.home-cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

/* @media screen and (max-width: 2000px) {
  .home-top-color {
    height: 105vh;
  }

  .home-hero-wrapper {
    padding-bottom: 6em;
  }

  .home-hero-bottom {
    margin-top: 0;
  }

} */

@media screen and (max-width: 1050px) {

  .home-hero-wrapper {
    padding-top: 1em;
    height: 90vh;
  }

  .home-hero-wrapper h1 {
    font-size: 4rem;
    line-height: 3.5rem;
  }

  .home-hero-wrapper h4 {
    font-size: .85rem;
  }

  .home-hero-bottom {
  }

  .home-first-image {
    width: 50vw;
  }

  .home-info-wrapper {
    margin-top: 2em;
  }

  .home-info-wrapper h1 {
    font-size: 1.5rem;
  }
  
  .home-info-wrapper h4 {
    font-size: 1rem;
  }

  .home-about-button {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
    font-size: .9rem !important;
  }
}

@media screen and (max-width: 570px) {

  .home-info-wrapper {
    margin-top: 4em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
  }
  
  .home-arrow-down {
    display: none !important;
  }

  .home-name-pic-wrapper {
    align-items: center;
    justify-content: center;
  }

  .home-hero-wrapper {
    padding-top: 1em;
    height: 80vh;
  }

  .home-hero-wrapper h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
  }

  .home-hero-wrapper h4 {
    font-size: .85rem;
    display: none;
  }

  .home-hero-bottom {
    justify-content: center;
    align-items: center;
  }

  .home-first-image {
    width: 80vw;
  }

  .home-info-wrapper {
    margin-top: 0em;
  }

  .home-info-about-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .home-info-about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
  }

  .home-info-about-content h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .4em;
  }

  .home-info-about-content h4 {
    text-align: center;
  }
}

