.home-wrapper {
}

.home-top-color {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  height: 105vh;
  width: 100%;
  z-index: -1;
}

.home-hero-wrapper {
  padding-left: var(--page-pading);
  padding-right: var(--page-pading);
  padding-bottom: 5em;
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: space-between; */
}

.home-hero-wrapper h2 {
  font-size: 3rem;
}

.home-name-pic-wrapper {
  margin-top: -1em;
  display: flex;
  flex-direction: column;
}

.home-hero-wrapper h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 5.3rem;
  letter-spacing: .03rem;
}

.home-first-image {
  margin-top: 2em;
  object-position: center;
  object-fit: cover;
  height: 35vh;
  width: 40vw;
}

.home-hero-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.home-hero-bottom h1 {
  text-align: right;
}

.home-hero-bottom h4 {
  font-size: 1.2rem;
  font-weight: 400;
  flex-wrap: 1;
  width: 15vw;
}

.home-arrow-down {
}

/* .home-left-wrapper {
  height: 88%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-second-image {

}

.home-left-wrapper h1 {
  text-align: right;
  justify-self: flex-end;
} */

.home-info-wrapper {
  background-color: var(--background-secondary);
  margin-left: var(--deeper-page-pading);
  margin-right: var(--deeper-page-pading);
  margin-bottom: 5em;
  padding-bottom: 2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
  position: relative;
  border-radius: 1em;
  transition: transform .8s ease-out;
}

.home-info-wrapper::before {
  content: "";
  border-radius: 1em;
  box-shadow: 0px 20px 11px 15px rgba(0, 0, 0, .14), rgba(0, 0, 0, 0.24) 0px 5px 8px;  
  opacity: 0;
  transition: opacity 1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-info-wrapper:hover::before {
  opacity: 1;
}

.home-info-wrapper:hover {
  transform: translateY(-5px);
}

/* 
.home-info-section {
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
} */

.home-info-wrapper h1 {
  font-size: 2.4rem;
  margin-bottom: .2em;
  color: var(--text-primary);
}

.home-info-wrapper h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-primary);
}

.home-info-about-section {
  display: flex;
  justify-content: space-between;
}

.home-info-about-content {
  width: 80%;
}

.home-about-button-wrapper {
  height: fit-content;
  width: fit-content;
}

.home-about-button {
  margin-top: 1.5em !important;
  color: white !important;
  background-color: #8C8C8C !important;
  text-transform: none !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
  font-size: 1rem !important;
}

.home-cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.home-project-wrapper {
  background: linear-gradient(180.14deg,#004986 .12%,#22303C 62.01%),
  #1a1a1a;
  cursor: pointer;
}

.home-project-wrapper h1 {
  color: white;
  font-size: 3rem;
  font-weight: 600;
}

.home-project-wrapper h4 {
  color: #cecece;
  margin-top: -.5em;
}

.home-project-mobile-image-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 2em;
}

.home-project-mobile-image {
  object-fit: cover;
  object-position: center;
  height: 100vh;
}

.home-project-card-content {
  flex-wrap: 1;
  width: 25vw;
}
