.not-found-wrapper {
  height: 80vh;
  width: 100vw;
}

.not-found-hero {
  padding-left: var(--page-pading);
  padding-right: var(--page-pading);
  height: 100%;

}

.not-found-text {
  text-align: center;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-found-text h1 {
  font-size: 5em;
  margin-bottom: .1em;
}

.not-found-text h4 {
  font-size: 1.5em;
}
