.project-wrapper {
  height: 80vh;
  width: 100vw;
}

.project-hero {
  padding-left: var(--page-pading);
  padding-right: var(--page-pading);
}


.project-text {
  text-align: center;
}

.projects-wrapper {
  padding-bottom: 2em;
}

.projects-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-top h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: .05em;
}

.projects-top h4 {
  font-size: 1.2rem;
  font-weight: 450;
}

@media screen and (max-width: 570px) {
  .projects-top h1 {
    font-size: 3rem;
  }
  
  .projects-top h4 {
    font-size: .95rem;
  }

  .projects-top {
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
  }
}